<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="/app.js"></script>
</head>

<body ng-app="app">
  <div class="container">
  <div ng-controller="teamController as tc" ng-init="tc.fetchTeams()">
    <ul>
      <li ng-repeat="t in tc.teams">{{ t.name }}</li>
    </ul>

    <div>
      <label> Team code:
        <input type="text" ng-model="tc.newTeam.name"></label>
      <label> Team Full Name:
        <input type="text" ng-model="tc.newTeam.fullName"></label>
      <button type="button" ng-click="tc.addTeam()">Save</button>

    </div>
  </div>
  <hr />
  <div ng-controller="userController as uc" ng-init="uc.fetchUsers()">
    <ul>
      <li ng-repeat="u in uc.users">{{ u.fullName }} ({{u.name}})</li>
    </ul>

    <div>
      <label> User Name(loginReference):
        <input type="text" ng-model="uc.newUser.name"></label>
      <label> User Full Name:
        <input type="text" ng-model="uc.newUser.fullName"></label>
      <button type="button" ng-click="uc.addUser()">Save</button>

    </div>
  </div>
  <hr />

  <div ng-controller="matchController as mc" ng-init="mc.fetchMatches()">
    <div class="panel panel-default">
      <div class="form-group row" ng-repeat="m in mc.matches">
          <label class="form-control-plaintext">{{ m.description }}</label>
         <label class="col-2">Winner:</label>
         <select class="form-control col-2 mb-2" ng-model="m.Winner" ng-options="b.name as b.name for b in m.bets">
        </select>
          <button class="btn btn-sm btn-primary mb-2" ng-click=mc.saveWinner(m)>Save</button>
        </div>
    </ul>
    <label>Team 1:
      <select type="text" ng-model="mc.newMatch.team1" ng-change="mc.newMatch.Name=mc.newMatch.team1.name+ ' vs '+ mc.newMatch.team2.name" ng-options="t as t.name for t in mc.teams">
      </select>
    </label>
    vs
    <label>Team 2:
      <select type="text" ng-model="mc.newMatch.team2" ng-change="mc.newMatch.Name=mc.newMatch.team1.name+ ' vs '+ mc.newMatch.team2.name" ng-options="t as t.name for t in mc.teams">

      </select>

    </label>
    <label>Match Name</label>
    <input type="text" ng-model="mc.newMatch.Name">
    <br/><label>Venue:</label>
      <select ng-model="mc.newMatch.venue" ng-options="m.venue as m.venue for m in mc.matches">
        </select>
      /<input type="text" ng-model="mc.newMatch.venue">
    

    <br/><label>Match Date:
      <input type="date" ng-model="mc.newMatch.dateOnly">
      <input type="time" ng-model="mc.newMatch.time">
    </label>
    <button type="button" ng-click="mc.addMatch()">Save</button>

  </div>
  <hr />

  <div ng-controller="transactionController as tcc" ng-init="tcc.fetchTransactions()">
    <ul>
      <li ng-repeat="t in tcc.transactions">{{t.date}} - {{ t.name }} - {{t.amount}} - {{t.mode}}</li>
    </ul>
    <label>Mode of Payment:
      <select ng-model="tcc.newTransaction.mode">
        <option>Paytm</option>
        <option>UPI</option>
        <option>Cash</option>
        <option>Other</option>
      </select>

    </label>
    <label>User:
      <select type="text" ng-model="tcc.newTransaction.userId" ng-options="t.id as t.fullName for t in tcc.users">
      </select>
    </label>
    <label>Transaction Amount:
        <input type="number" ng-model="tcc.newTransaction.amount">
      </label>
    <label>Transaction Date:
      <input type="datetime" ng-model="tcc.newTransaction.date">
    </label>
    <label>Remark:
        <input type="text" ng-model="tcc.newTransaction.remark">
      </label>
    <button type="button" ng-click="tcc.addTransaction()">Save</button>
  </div>
</div>
</body>

</html>