<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>App</title>
</head>

<body>
  {{#each teams}}
  <p>{{this.name}}</p>
{{else}}
  <p class="empty">No teams</p>
{{/each}}
</body>

</html>